{% extends 'base.html.twig' %}

{% block title %}Edit Event{% endblock %}

{% block body %}

    <div class="row">
        <h1>Editar Evento</h1>

        {{ include('event/_form.html.twig') }}
    </div>

{% endblock %}
