{% extends 'base.html.twig' %}

{% block title %}New Event{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <h1>Nuevo Evento</h1>

            {{ include('event/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
