{% extends 'base.html.twig' %}

{% block title %}Inicio{% endblock %}

{% block body %}
    <div class="container-fluid mt-5">
        {% if is_granted('ROLE_ADMIN') %}
            {% include 'home/admin.html.twig' %}
        {% endif %}
        {% if is_granted('ROLE_USER') %}
            {% include 'home/user.html.twig' %}
        {% endif %}
    </div>
{% endblock %}