<!-- Modal -->
<div class="modal fade" id="mainModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" id="mainModalContent">
        {{ include('partials/_modal-content.html.twig') }}
    </div>
</div>