{% embed 'partials/_form-wrapper.html.twig' %}

    {% block form_fields %}
        {% include 'partials/_form-field.html.twig' with {'field': form.region, 'label': 'Región'} %}

        {% include 'partials/_form-field.html.twig' with {'field': form.name, 'label': 'Nombre'} %}

        {% include 'partials/_form-field.html.twig' with {'field': form.gender, 'label': 'Género'} %}

        {% if form.vars.data.picture %}
            {% do form.file.setRendered %}
            <div class="main-suit-picture-container w-auto text-center mb-5">
                <img src="{{ asset(form.vars.data.picture) }}" alt="{{ form.vars.data.name }}"
                       class="img-fluid mb-3"/>
                <div class="w-100 text-center">
                    <button type="button"
                            data-endpoint="{{ path('app_suit_remove_picture', {'id': form.vars.data.id}) }}"
                            onclick="removePicture(this)"
                            class="btn btn-warning mx-auto js-picture-remove">
                        <i class="fas fa-camera"></i> Remover foto
                    </button>
                </div>
            </div>
        {% else %}
            {% include 'partials/_form-field.html.twig' with {'field': form.file, 'label': 'Foto'} %}
        {% endif %}

    {% endblock %}

    {% block form_actions %}
        <div class="d-flex justify-content-between mt-4">
            <a class="btn btn-light" href="{{ path('app_suit_index') }}">
                <i class="fa-solid fa-arrow-left"></i> Volver
            </a>

            <button class="btn btn-success">
                <i class="fa-solid fa-check"></i> Guardar
            </button>
        </div>
    {% endblock %}

{% endembed %}

<script>
    const removePicture = async (elem) => {
        if (!confirm('Remover foto?')) {
            return
        }

        try {
            const endpoint = elem.dataset.endpoint;
            const response = await fetch(endpoint, {method: 'PATCH'})

            if (!response.ok) {
                throw await response.json();
            }

            location.reload()
        } catch (e) {
            alert(e.message || e.error || e.errors)
            console.error('Fetch error:', e);
        }
    }
</script>