{% embed 'partials/_form-wrapper.html.twig' %}

    {% block form_fields %}
        {% include 'partials/_form-field.html.twig' with {'field': form.region, 'label': 'Región'} %}

        {% include 'partials/_form-field.html.twig' with {'field': form.name, 'label': 'Nombre'} %}

        {% include 'partials/_form-field.html.twig' with {'field': form.gender, 'label': 'Género'} %}

        {% include 'partials/_form-field.html.twig' with {'field': form.file, 'label': 'Foto'} %}

    {% endblock %}

    {% block form_actions %}
        <div class="d-flex justify-content-between mt-4">
            <a class="btn btn-light" href="{{ path('app_suit_index') }}">
                <i class="fa-solid fa-arrow-left"></i> Volver
            </a>
            <button class="btn btn-success">
                <i class="fa-solid fa-check"></i> Guardar
            </button>
        </div>
    {% endblock %}

{% endembed %}