{% extends 'base.html.twig' %}

{% block title %}Editar traje: {{ suit.name }}{% endblock %}

{% block body %}
    <div class="row">
        <h1>Editar traje</h1>

        {{ include('suit/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
{% endblock %}
