{%  extends 'base.html.twig' %}

{% block title %}Lista de trajes{% endblock %}

{% block body %}
<div class="row">
    <div class="card text-bg-dark mb-4 shadow rounded">
        <div class="card-header">Lista de trajes</div>
        <div class="card-body px-0">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <tbody>
                    {% for suit in suits %}
                    <tr>
                        <td>
                            <a href="{{ path('app_suit_show', {'id': suit.id}) }}">
                                {{ suit.region }} - {{ suit.name }} ({{ suit.genderName }})
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}