{% extends 'base.html.twig' %}

{% block title %}Nuevo traje{% endblock %}

{% block body %}
    <div class="row">
        <h1>Nuevo traje</h1>

        {{ include('suit/_form.html.twig') }}
    </div>
{% endblock %}
