{% extends 'base.html.twig' %}

{% block title %}New Suit{% endblock %}

{% block body %}
    <h1>Create new Suit</h1>

    {{ include('suit/_form.html.twig') }}

    <a href="{{ path('app_suit_index') }}">back to list</a>
{% endblock %}
