{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-sm-10 offset-sm-1 col-md-6 offset-md-3">
                {% if errors %}
                <div class="alert alert-danger" role="alert">{{ errors.message }}</div>
                {% endif %}
                <form method="POST" action="{{ path('app_login') }}">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" name="_username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="_password"
                               placeholder="Password">
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
