{% extends 'base.html.twig' %}

{% block title %}Mi perfil{% endblock %}

{% block body %}
    <div class="row">
        <h1 class="mb-3">Perfil personal</h1>

        {{ include('user_profile/_form.html.twig') }}
    </div>

{% endblock %}

