{% extends 'base.html.twig' %}

{% block title %}Actualizar password{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <h1 class="mb-3">Actualizar password</h1>

            {% embed 'partials/_form-wrapper.html.twig' %}
                {% block form_fields %}

                    {% include 'partials/_form-field.html.twig' with {'field': form.plainPassword.first, 'label': 'Password'} %}
                    {% include 'partials/_form-field.html.twig' with {'field': form.plainPassword.second, 'label': 'Confirma'} %}

                {% endblock %}
                {% block form_actions %}
                    <div class="d-flex justify-content-between mt-4">
                        <a class="btn btn-light" href="{{ path(form.vars.routeBack) }}">
                            <i class="fa-solid fa-arrow-left"></i> Volver
                        </a>
                        <button class="btn btn-success" type="submit">
                            <i class="fa-solid fa-check"></i> Guardar
                        </button>
                    </div>
                {% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}