{% extends 'partials/_modal.html.twig' %}

{% block modalTitle %}Entrega{% endblock %}

{% block modalBody %}
    <div class="form-floating mb-3">
        <textarea class="form-control" placeholder="" style="height: 100px" id="txtComments"></textarea>
        <label>Comentarios</label>
    </div>
{% endblock %}