{% extends 'partials/_modal.html.twig' %}

{% block modalTitle %}Entrega de vestuario{% endblock %}

{% block modalBody %}

    {% embed 'partials/_form-wrapper.html.twig' %}
        {% block form_fields %}
            {% include 'partials/_form-field.html.twig' with {'field': form.endDate, 'label': 'Fecha'} %}
            {% include 'partials/_form-field.html.twig' with {'field': form.status, 'label': 'Estado'} %}
            {% include 'partials/_form-field.html.twig' with {'field': form.comments, 'label': 'Comentarios'} %}
        {% endblock %}

        {% block form_actions %}
            <button type="submit" class="btn btn-warning">
                <i class="fa-solid fa-clipboard"></i> Entregar
            </button>
        {% endblock %}
    {% endembed %}

{% endblock %}

