{% extends 'base.html.twig' %}

{% block title %}Nueva asignación{% endblock %}

{% block body %}

    <div class="row">
        <h1>Nueva asignación</h1>

        {{ include('loan/_form.html.twig') }}
    </div>

{% endblock %}
