{% extends 'base.html.twig' %}

{% block title %}Asignación {{ user ? user.name : '' }}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <h1>Asignación por persona</h1>

        </div>
    </div>
{% endblock %}

