{% extends 'base.html.twig' %}

{% block title %}Editar pieza {{ item.name }}{% endblock %}

{% block body %}

    <div class="row">
        <h1>Editar pieza</h1>

        {{ include('item/_form.html.twig') }}
    </div>

{% endblock %}
