{% extends 'base.html.twig' %}

{% block title %}New Item{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <h1>Nueva pieza</h1>

            {{ include('item/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
