{% extends 'base.html.twig' %}

{% block title %}New Item{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Nueva pieza</h1>

        {{ include('item/_form.html.twig') }}
    </div>
{% endblock %}
