{% embed 'partials/_form-wrapper.html.twig' %}

    {% block form_fields %}

        {% include 'partials/_form-field.html.twig' with {'field': form.name, 'label': 'Nombre (alias)'} %}

        {% include 'partials/_form-field.html.twig' with {'field': form.email, 'label': 'Email'} %}

        {% if form.plainPassword %}
            <div class="user-pwd">
                {% include 'partials/_form-field.html.twig' with {'field': form.plainPassword.first, 'label': 'Password'} %}
                {% include 'partials/_form-field.html.twig' with {'field': form.plainPassword.second, 'label': 'Confirma'} %}
            </div>
        {% endif %}

        {% include 'partials/_form-radio.html.twig' with {'field': form.isAdmin, 'label': 'Tipo de usuario'} %}

    {% endblock %}

    {% block form_actions %}
        <div class="d-flex justify-content-between mt-4">
            <a class="btn btn-light" href="{{ path('app_user_index') }}">
                <i class="fa-solid fa-arrow-left"></i> Volver
            </a>
            {% if not form.plainPassword %}
            <a class="btn btn-warning" href="{{ path('app_user_password', {'id': form.vars.data.id, 'route_back': 'app_user_index'}) }}">
                <i class="fa-solid fa-lock"></i> Password
            </a>
            {% endif %}
            <button class="btn btn-success" type="submit">
                <i class="fa-solid fa-check"></i> Guardar
            </button>
        </div>
    {% endblock %}

{% endembed %}
