{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Editar usuario</h1>

        {{ include('user/_form.html.twig') }}
    </div>
{% endblock %}
