{% extends 'base.html.twig' %}

{% block title %}User: {{ user.name }}{% endblock %}

{% block body %}
<div>
    <b>{{ user.name }} - {{ user.email }} ({{ user.updatedAt|date('d/m/Y') }})</b>
</div>
{% endblock %}
